.App {
  text-align: center;
}

.AppScrollContainer {
  width: 300px;
  height: 600px;
  margin: 50px 0 0 50px;
}

.singleData {
  border: 1px solid #222;
  margin-top: 5px;
  display: flex;
  height: 100px;
}

.singleData span {
  margin: auto;
}
